.product{
  display:inline-block;
  width: 110px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding: 3px;
  background-color: rgb(199, 218, 235);
  border: 1px solid rgb(128, 160, 189);
  border-radius: 3px;
  margin-right: 8px;
}

.price{
  display:inline-block;
  width: 116px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding: 3px;
  background-color: rgb(199, 218, 235);
  border: 1px solid rgb(128, 160, 189);
  border-radius: 3px;
  margin-right: 8px;
}

.total{
  display:inline-block;
  width: 120px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding: 3px;
  background-color: rgb(199, 218, 235);
  border: 1px solid rgb(128, 160, 189);
  border-radius: 3px;
  margin-right: 2px;
}

.button-increment{
  margin-bottom: 4px;
  font-weight: bold;
  padding-bottom:5.5px;
  letter-spacing: .3px 
}
.button-delete{
  position: relative;
  bottom:2px;
  font-weight: bold;
  padding-bottom:5.5px;
  letter-spacing: .3px 
}

.button-reset{
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: bold;
  inline-size: 10.7rem;
  padding: 5.5px;
  border: none;
  position:relative;
  right: 7px;
  left:395px;
  top:86px;
  padding-bottom: 7.5px;
}

.navbar-shopping{
  margin-left: 5px;
  font-size:1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.navbar-total{
  position: relative;
  top:2px;
  font-size:1.5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-left: 12px;
}
.badge-descrip{
  font-family: 'Oswald', sans-serif;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.container-titles{
  display:flex;
  gap:7px;
  font-family: 'Oswald', sans-serif;
  margin-top: 40px;
}

.container-titles h5{
  border-radius: 3px;
  padding: 7px;
  background:rgb(46, 41, 41);
  color:aliceblue
}

.container-price{
  inline-size: 118px;
}
.container-total{
  inline-size:120px;
}
